.row.justify-content-center
  .page-header-col
    %h1.fw-bold The 37 Execution Essentials
  .col-xs-12.col-lg-8.col-xl-12
    %p After thorough research, the execution essentials are a distillation of the attributes needed for the successful execution of a technical vision. Conversely, projects that have failed were conspicuously missing these components. A more detailed description of each element is contained in the attached appendix.
    = image_tag 'periodic-table/PMPC-table-all@2x.png', class: 'img-fluid'
    %p It draws on the following source materials:
    %ul
      %li= link_to 'Government Design Principles', 'https://www.gov.uk/guidance/government-design-principles'
      %li= link_to 'The Government Digital Strategy', 'https://www.gov.uk/government/publications/government-digital-strategy/government-digital-strategy'
      %li= link_to 'The Power of User Research NHSX Blog by Sophie Rankin', 'https://healthtech.blog.gov.uk/2019/11/05/the-power-of-user-research-as-a-team/'
      %li= link_to 'Making NHS UK Available Everywhere', 'https://healthtech.blog.gov.uk/2019/07/15/making-nhs-uk-available-everywhere/'
      %li= link_to 'What we learned at NHS Hack Day by Terence Eden', 'https://healthtech.blog.gov.uk/2019/06/27/what-we-learned-from-the-nhs-hack-day/'
      %li= link_to 'Leadership by David Marquet', 'https://www.youtube.com/watch?v=pYKH2uSax8U'
      %li= link_to 'Thinking in Systems', 'https://www.amazon.co.uk/Thinking-Systems-Primer-Donella-Meadows/dp/1603580557'
      %li= link_to 'People Power', 'https://www.amazon.co.uk/People-Powered-Jono-Bacon/dp/1400214882'
      %li= link_to 'Autonomy, Mastery and Purpose - Daniel H Pink', 'https://www.ted.com/talks/dan_pink_the_puzzle_of_motivation/transcript?language=en'
      %li= link_to 'Metacrap Blog Post', 'https://people.well.com/user/doctorow/metacrap.htm'
      %li= link_to 'The Government IT Self Harm Playbook', 'https://medium.com/@sheldonline/the-government-it-self-harm-playbook-6537d3920f65'
      %li= link_to 'US Digital Services Playbook', 'https://playbook.cio.gov/'
