%main
  %section.bgimage.text-end
    .container
      .row
        .col

          #logo-box.text-end
            .logo.img-fluid
              =image_tag "pmpc-logo-block-outline-wht.png"
            .title
              %h1
                Open-source Proposal<br/>
                %span.fw-bolder for the NHS

  .pages
    %section.page.container-fluid.shadow
      .container
        .row.py-5.justify-content-center
          .col
            = render 'can_you_help_us'
    %section.page.container-fluid.shadow
      .container
        .row.py-5.justify-content-center
          .col
            = render 'executive_summary'
    %section.page.container-fluid.shadow
      .container
        .row.py-5.justify-content-center
          .col
            = render 'context'
    %section.page.container-fluid.shadow
      .container
        .row.py-5.justify-content-center
          .col
            = render 'proposers'
    %section.page.container-fluid.shadow
      .container
        .row.py-5.justify-content-center
          .col
            = render 'our_proposal'
    %section.page.container-fluid.shadow
      .container
        .row.py-5.justify-content-center
          .col
            = render 'execution_essentials'
    %section.page.container-fluid.shadow
      .container
        .row.py-5.justify-content-center
          .col
            = render 'phases_and_costing'
    %section.page.container-fluid.shadow
      .container
        .row.py-5.justify-content-center
          .col
            = render 'project_plan'
    %section.page.container-fluid.shadow
      .container
        .row.py-5.justify-content-center
          .col
            = render 'open_source_products'
    %section.page.container-fluid.shadow
      .container
        .row.py-5.justify-content-center
          .col
            = render 'murfin_plus'
    %section.page.container-fluid.shadow
      .container
        .row.py-5.justify-content-center
          .col
            = render 'for_development_and_migration'
    %section.page.container-fluid.shadow
      .container
        .row.py-5.justify-content-center
          .col
            = render 'for_conversion_and_migration'
    %section.page.container-fluid.shadow
      .container
        .row.py-5.justify-content-center
          .col
            = render 'pmpc_structure'
